@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.main__header {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/mainBacgrount.jpg');
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header__cnt  {
  background-color: #282828;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid black;
}

.burger {
  background-color: #282828;
  height: 100%;
}

.burger__li {
  color: #1976d2 inherit;
}

.burger__svg {
  fill: #fff !important;
}

hr {
  background-color: #fff !important;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:nth-child(1):hover {
  color: #fff;
}

.Auth-form-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth-form {
  width: 520px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  outline: 0.5px solid rgb(0 0 0 / 16%);
  padding-top: 30px;
  padding-bottom: 100px;
  border-radius: 8px;
  background-color: rgb(57, 57, 57);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
}

.form-group {
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  width: 220px;
  white-space: nowrap;
}

.applications {
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-group-flush>.list-group-item {
  background-color: #212529;
  color: #fff;
}

.mb-4 {
  border: none ;
  background-color: #292a2d !important;
  margin-bottom: 4px !important;
}

.adaptiv__block {
  margin-top: 40px !important;
  display: flex;
  align-items: center;
  row-gap: 10px;
  color: #fff;
}

.noactiv__btn {
  color: #1976d2 !important;
  background-color: rgb(91, 101, 154) !important;
}

.user__prof {
  background-color: #676767;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp);
  background-size: cover;
}

.profil__btn {
  display: inline-block;
  color: #fff;
  margin: 0 auto;
  border: none;
  background-color:rgb(57, 57, 57);
  padding: 15px;
  border-radius: 20px;
}

.profil__btn-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-body {
  flex-direction: column;
}

tr > td:nth-child(1) {
  padding-left: 10px;
  width: 100px;
}

.profil__cnt {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profil__card {
  width: 400px;
  justify-content: space-around;
  height: 200px;
  background-color: #212529;
  padding: 15px;
  flex-direction: column;
  display: flex;
  border-radius: 40px;
  border: 1px solid black;
}

.Auth-form-ant {

  overflow-y: scroll;
  margin-top: 40px;
  height: 100vh;
  padding-top: 140px;
}